.app-info {
  
  font-size: 0.8em;
  color: black; /* Cor de texto mais suave */
  margin-top: 20px;
  padding-bottom: 20px; /* Adiciona um padding inferior para espaçamento */
}

.app-info p {
  margin-bottom: 5px; /* Espaçamento entre as linhas de texto */
}

