<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o Aplicativo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button> </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h3>Meu Aplicativo de Notas e Lembretes</h3>
    <p>Versão: 1.0.0</p>
    <p>Data de Criação: Junho de 2025</p>

    <p>Desenvolvido com o auxílio de inteligência artificial (Gemini) para uma experiência de aprendizado e desenvolvimento eficiente.</p>
    <br>
    <p>Este aplicativo foi projetado para ajudá-lo a organizar seus pensamentos e lembretes de forma simples e intuitiva.</p>
    <p>Obrigado por usar!</p>

    <p>Desenvolvido por JCCAiut</p>
  </div>
</ion-content>